
.divOne,
.divTwo,
.show {
    border-style: double;
}

.hide {
    display: none;
}


#btnOne {
    color: purple;
}


#btnOne:hover {
    color: red;
    padding: 5%;
    background-color: blue;
}


.green {
    color: green;
}